*.exe
*.ilk
*.suo
*.tlog
*.pdb
*.obj
*.map
*.log
*.idb
*.db
*.opendb
*.o
*.a
*.bin
*.elf
*.hex
*.swp
*.cogui
*.comarker
*.d
platform/stm32f407/ide/coocox/ucRTOS
/platform/simulators/windows/.vs/ucRTOS/v15/ipch/AutoPCH/72d250fbd7579081/*.ipch
*.ipch
/platform/simulators/windows/*.opensdf
/platform/simulators/windows/*.sdf
/platform/embedded/stm32f407/ide/coocox/ucRTOS/Debug/bin
/platform/embedded/stm32f407/ide/coocox/*.comemgui
/platform/embedded/stm32f407/ide/coocox/ucRTOS/Debug/obj
/platform/embedded/stm32f407/ide/coocox/ucRTOS/ucRTOS.elf.xcodeproj/*.pbxproj
/platform/simulators/linux/Debug/FreeRTOS_Posix

