[submodule "platform/simulators/lib/wxWidgets"]
	path = platform/simulators/lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/eMIDI"]
	path = lib/eMIDI
	url = https://github.com/coon42/eMIDI.git
