[submodule "platform/simulators/lib/wxWidgets"]
	path = platform/simulators/lib/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "lib/eMIDI"]
	path = lib/eMIDI
	url = https://github.com/coon42/eMIDI.git
[submodule "platform/embedded/NRF24L01P"]
	path = platform/embedded/lib/NRF24L01P
	url = https://github.com/coon42/NRF24L01P.git
